
/* Hero Section */

.hero-section {
    width: 120vw;
    height: calc(90vh);
    /* background-image: url('./Images/Hero-bg-transparent.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 105px 245px 0 118px;
    position: relative;
    background: linear-gradient(90deg, #0798ff0d 0%, #ffffff 100%);
}
.second-bg {
    position: absolute;
    background-image: url('./Images/service-bg-transparent.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125vw;
    height: calc(90vh);
    top: 0;
    z-index: 99;
}
.bg-gradent {
    position: absolute;
    left: -150px;
    top: 0;
    width: 520px;
    height: 500px;
    background: radial-gradient(ellipse at center, #0799ff73 0%, rgba(7, 153, 255, 0.25) 40%, rgba(7, 153, 255, 0.1) 65%, rgba(7, 153, 255, 0) 75%);
    filter: blur(120px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}
.bg-gradent {
    position: absolute;
    left: -150px;
    top: 0;
    width: 520px;
    height: 500px;
    background: radial-gradient(ellipse at center, rgba(7, 153, 255, 0.45) 0%, rgba(7, 153, 255, 0.25) 40%, rgba(7, 153, 255, 0.1) 65%, rgba(7, 153, 255, 0) 75%);
    filter: blur(120px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}
.bg-gradent-right {
    position: absolute;
    right: 30%;
    top: -50px;
    width: 520px;
    height: 500px;
    background: radial-gradient(ellipse at center, rgba(7, 153, 255, 0.45) 0%, rgba(7, 153, 255, 0.25) 40%, rgba(7, 153, 255, 0.1) 65%, rgba(7, 153, 255, 0) 75%);
    filter: blur(220px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
}
.hero-section-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 450px;
    width: 1080px;
    margin-left: -4rem;
    /* background: linear-gradient(90deg, #FFFFFF 0%, #ffffff1d 100%); */
    background-color: rgba(255, 255, 255, 0.158);
    padding: 150px 446px 228px 96px;
    border-radius: 44px;
    backdrop-filter: blur(50px);
    border: 1px solid #ffffffe9;
    position: relative;
    z-index: 9;
}
.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: lef;
    gap: 10px;
}
.hero-logo {
    height: 53px;
    width: 187px;
}
.hero-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #000;
    font-family: "CircularStd", sans-serif !important;
}
.hero-title span {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #000;
    font-family: "CircularStd", sans-serif !important;
}
.hero-subtitle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: auto;
    text-align: left;
    color: #000;
}


/* About Us Section  */

.about-us-section{
    width: 100%;
    padding: 85px 0;
}
.about-us-section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}